# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.external*/
.idea/
nbproject/

# composer related
vendor/
composer.lock

# PHPCQ and related tools
/.cache/*
/.pdepend/*
/.phpcq/*
/.phpunit.result.cache
